<div [formGroup]="currentFormGroup" *ngIf="currentFormGroup" style="white-space: nowrap">
  <label class="center-block">{{label}}&nbsp;<span *ngIf="isRequired()"
                                                   class="glyphicon glyphicon-asterisk icon-required"></span>
    <div class="input-group" [id]="controlId">
      <input #chooserInput type="text" class="form-control chooserInput"
             (blur)="onBlurEvent($event)"
             [formControlName]="currentFormControlName"/>
    <span class="input-group-btn">
        <a class="btn btn-info btn-sm" (click)="onIconClick($event)">
          <span class="glyphicon glyphicon-th-list"></span>
        </a>
      </span>
    </div>
  </label>
  <div *ngIf="isInvalid()" class="errorMessage">
    {{getErrorMessage()}}
  </div>
</div>
<p-dialog [ngClass]="['bk-treeChooser-dialog']" header="Select Weapon" modal="modal"
          responsive="true">
  <p-tree [ngClass]="['bk-treeChooser']" [value]="treeNodes" selectionMode="single"
          (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
    ></p-tree>
</p-dialog>
