<div [formGroup]="currentFormGroup" *ngIf="currentFormGroup" style="white-space: nowrap">

  <span *ngIf='!label'>
    <textarea #bkInputWidget autocomplete="off" [id]="controlId" (blur)="onBlurEvent($event)"
      [attr.maxLength]="textAreaLength > 0 ? textAreaLength : null"
      [formControlName]="currentFormControlName" class="form-control"></textarea>
    {{getNumberOfCharsLeft()}}
  </span>
  <label *ngIf='label' class="center-block">{{label}}&nbsp;
    <span *ngIf="isRequired()" class="glyphicon glyphicon-asterisk icon-required"></span>
    <textarea #bkInputWidget autocomplete="off" [id]="controlId" (blur)="onBlurEvent($event)"
      [attr.maxLength]="textAreaLength > 0 ? textAreaLength : null"
      [formControlName]="currentFormControlName" class="form-control"></textarea>
    {{getNumberOfCharsLeft()}}
  </label>
  <div *ngIf="isInvalid()" class="errorMessage">
    {{getErrorMessage()}}
  </div>
</div>