<div *ngIf="currentFormGroup" [formGroup]="currentFormGroup" style="white-space: nowrap">
  <label class="center-block">{{label}}&nbsp;
    <span *ngIf="isRequired()" class="glyphicon glyphicon-asterisk icon-required"></span>
    <div [id]="controlId" class="input-group">

      <input #bkCalendarInput (blur)="onBlurEvent($event)" [formControlName]="currentFormControlName"
             autocomplete="off" class="form-control bkCalendarInput"/>
      <span class="input-group-btn">
        <a (click)="onInputClick(bkCalendarInput, $event)" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-calendar"></span>
        </a>
      </span>
    </div>
  </label>
  <div *ngIf="isInvalid()" class="errorMessage">
    {{getErrorMessage()}}
  </div>
</div>
<div #bkDtContainer *ngIf="showDateContainer" class="bkCalendar">
  <table class="calTable">
    <tr>
      <td style="width: 50%">
        <select (change)="onYearSelect($event)" [(ngModel)]="currentYear">
          <option *ngFor=" let year of years" value="{{year.value}}">{{year.label}}</option>
        </select>
      </td>
      <td>
        <select (change)="onMonthSelect($event)" [(ngModel)]="currentMonth">
          <option *ngFor=" let month of months" value="{{month.value}}">{{month.label}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="calendarContainer" colspan="2">
        <table class="calendar">
          <thead>
          <tr>
            <th *ngFor="let weekDay of weekDays;let begin = first; let end = last" scope="col">
              <span>{{weekDay}}</span>
            </th>
          </tr>
          </thead>
          <tr *ngFor="let week of dates">
            <td *ngFor="let date of week">
              <a (click)="onDateSelect($event)" *ngIf="date.otherMonth ? showOtherMonths : true"
                 class="selectable">{{date.day}}</a>
              <div *ngIf="date.otherMonth ? true : false" class="unselectable">{{date.day}}</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
