.loader-hidden {
  display: none
}

.loaderContainer {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(245, 240, 240, 0.5); /* Black background with opacity */
  z-index: 30000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.loader-overlay11 {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 50px;
  opacity: 1;
  z-index: 50000;
}

.loader-overlay {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 8px solid #6b6868; /* Light grey */
  border-top: 8px solid #49b884; /* green */
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 500000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
