<div [formGroup]="currentFormGroup" *ngIf="currentFormGroup" style="white-space: nowrap">
    <label style='display: block'>
        {{label}}
        <span *ngIf="isRequired()" class="glyphicon glyphicon-asterisk icon-required"></span>
    </label>
    <label class="radio-inline radiogrp" *ngFor="let option of options; let i=index" #radioGrpLabel>
        <input [value]="option.value" id="checkbox_{{i}}" (blur)="onBlurEvent($event)" [formControlName]="currentFormControlName"
            type="radio">{{option.label}}</label>
    <div *ngIf="isInvalid()" class="errorMessage">
        {{getErrorMessage()}}
    </div>
</div>