<div *ngIf="currentFormGroup && inline"
     [formGroup]="currentFormGroup">
  <label *ngFor=" let option of options" class="radio-inline">
    <input [formControlName]="currentFormControlName" type="radio"
           value="{{option.value}}">
    {{option.label}}
  </label>
</div>

<div *ngIf="currentFormGroup && !inline"
     [formGroup]="currentFormGroup">
  <div *ngFor=" let option of options" class="radio">
    <label>
      <input [formControlName]="currentFormControlName" type="radio"
             value="{{option.value}}">
      {{option.label}}
    </label>
  </div>
</div>
