<div>
  <div class="node">
    <span id="{{node.label}}_Trigger" [class]="nodeStateClass" (click)="triggerClick($event)">&nbsp;</span>
    <span id="{{node.label}}_Item" appBkDraggable [dragTarget]="node" [dragTargetParent]="parentNode" appBkDropTarget [dropTarget]="node"
      class="label" (click)="onNodeSelect($event)" (contextmenu)="onContextMenuLocal($event)">{{node.label}}</span>
  </div>
  <div class="children" *ngIf="((node.children && node.children.length > 0) && isOpen) || isOpen">
    <bk-treeNode *ngFor="let childNode of node.children" [node]="childNode" [parentNode]="node"></bk-treeNode>
  </div>
</div>