<!-- A child component -->
{{modalState}}

<p-dialog (click)="hideErrorDialog()" header="{{errorHandlerHeading}}" modal="modal" responsive="true" width="300">
  {{exceptionDetails}}
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button (click)="hideErrorDialog()" icon="fa-close" label="Ok" pButton type="button"></button>
    </div>
  </p-footer>
</p-dialog>

<app-bk-custom-modal (modalState)="errorModelState($event)">
  <div class="app-modal-header">
    {{errorHandlerHeading}}
  </div>
  <div class="app-modal-body">
    {{exceptionDetails}}
  </div>
  <div class="app-modal-footer">
    <button (click)="errorModal.hide()" class="btn btn-default" type="button">Close</button>
  </div>
</app-bk-custom-modal>
