<!--
  https://stackoverflow.com/questions/31196980/using-a-glyphicon-as-an-li-bullet-point-bootstrap-3
-->
<div class="container-fluid" scrollTo>
  <div class="row" #errorContainer>
    <div *ngIf="hasErrorMessages || fieldErrors" class="errorMessage alert alert-danger tp-20margin">
      <div (click)='hideErrorContainer()' class="action"><span class="actionIcon glyphicon glyphicon-remove"></span>
      </div>
      <h4>There were errors. Please fix before proceeding!</h4>
      <ul *ngIf="hasErrorMessages" class="error-bullet">
        <li *ngFor="let errorMessage of errorMessages; let i=index">
          {{errorMessage.message}}
        </li>
      </ul>
    </div>
    <div *ngIf="errorMessage != null" class="alert alert-danger tp-20margin">
      <h4>There were errors. Please fix before proceeding!</h4>
      <ul class="error-bullet">
        <li>
          {{errorMessage}}
        </li>
      </ul>
    </div>
  </div>
</div>
