<div class="container-fluid chatbox" [hidden]='!showChatBox'>
    <div class="table-box tp-10margin">
        <div class="header">
            Do you need help?
        </div>
        <div class="content chatContent padded">
            <div  class="row">
                <div class="chatmessages col-sm-12" #chatMessageBoxContainer>
                        <div #chatMessageBox></div>
                    <!-- <pre id='chatDiv_{{in}}' [class]='getChatMessageClass(chat)' 
                    *ngFor="let chat of chatMessages;let in=index">{{getChatResponse(chat, in)}}</pre> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea class="form-control" name='chat' (keyup.enter)='sendMessage()' #chatbox></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 chatbutton">
            <bk-button (onClick)="sendMessage()" intent="success" label="Send"></bk-button>
            <bk-button (onClick)="dismissChatbox()" intent="warning" label="Dismiss"></bk-button>
        </div>
    </div>
</div>
<div class="container-fluid chatboxCollapsed" [hidden]='showChatBox'>
    <div class="row chatwithus">
        <a (click)='showChatbox()'>Chat Now!</a>
    </div>
</div>