.tableWidget2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom:10px
  }
  
  .tableWidget2 td, .tableWidget2 th {
    border: 1px solid #ddd;
    padding: 8px;
    margin: -10px;
  }
  
  /* .tableWidget2 tr:nth-child(even){background-color: #f2f2f2;}
  
  .tableWidget2 tr:hover {background-color: #ddd;}
  
  .tableWidget2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  } */