<li class="message {{getChatMessageClass()}}">
  <div class="avatar"></div>
  <div class="text_wrapper">
    <table class="tableWidget2">
      <tr>
        <th colspan="3">
          {{getMessage().heading}}
        </th>
      </tr>
      <tr *ngFor="let row of getMessage().rows">
        <td *ngFor="let col of row.cols">
          <a *ngIf='col.clickUrl' (click)="navigateTo(col)">{{col.col}}</a>
          <span *ngIf='!col.clickAction && !col.clickUrl'>{{col.col}}</span>
          <span *ngIf='col.clickAction' (click)="clickAndSendResponse(col)">{{col.col}}</span>
        </td>
      </tr>
    </table>
  </div>
</li>