<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="white-space: nowrap">
      <form (ngSubmit)="save()" [formGroup]="testForm" novalidate>
        <!-- We'll add our form controls here -->
        <label class="center-block" for="name">Name
          <span class="glyphicon glyphicon-asterisk icon-required"></span>
          <app-bk-input
            [currentFormGroup]="testForm"
            controlId="name"
            currentFormControlName="name"></app-bk-input>
        </label>

        <app-bk-textarea
          [currentFormGroup]="testForm"
          controlId="lastName"
          currentFormControlName="lastName"
          label="Last Name"
          textAreaLength="3000"
        ></app-bk-textarea>

        <app-bk-select
          [currentFormGroup]="testForm"
          [options]="category"
          controlId="category"
          currentFormControlName="category"
          label="Last Name">
        </app-bk-select>

        <app-bk-multi-select
          (onSelect)="showSelectedValues($event)"
          [currentFormGroup]="testForm"
          [options]="category"
          [startingValues]="multiSelectStartValues"
          controlId="multiSelectCategoryId"
          currentFormControlName="multiSelectCategory"
          label="Last Name">
        </app-bk-multi-select>
        {{ multiSelectStartValues.join() }}
        <app-bk-multi-select
          (onSelect)="showSelectedValues2($event)"
          [currentFormGroup]="testForm"
          [options]="category"
          [startingValues]="multiSelectStartValues2"
          controlId="multiSelectCategoryId2"
          currentFormControlName="multiSelectCategory2"
          label="Categories">
        </app-bk-multi-select>
        {{ multiSelectStartValues2.join() }}
        <bk-button intent="success" label="Test me!" type="submit"></bk-button>
        <bk-button
          (onClick)="changeMultiSelectValues()"
          intent="success"
          label="Change Multi-select Values"
          type="button"></bk-button>
      </form>
    </div>
  </div>

  <bk-button
    (onClick)="showDynamicModal()"
    intent="success"
    label="Show Dynamic Modal"
    type="button"></bk-button>

  <bk-button
    (onClick)="showPopout()"
    intent="success"
    label="Show Popout"
    type="button"></bk-button>

  <bk-button
    (onClick)="showCustomModal()"
    intent="success"
    label="Show Custom Modal"
    type="button"></bk-button>

  <app-bk-dynamic-modal #dynamicModalComponentBk></app-bk-dynamic-modal>
  <app-bk-popout #popoutComponent></app-bk-popout>

  <app-bk-custom-modal #customModal>
    <div class="app-modal-header">
      <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{customModalData.header}}
    </div>
    <div class="app-modal-body">
      {{customModalData.bodyMessage}}
    </div>
    <div class="app-modal-footer">
      <bk-button (click)='testCustomModel.hide()' intent="success" label="{{ customModalData.buttonOk }}">
      </bk-button>
    </div>
  </app-bk-custom-modal>

  <div class="row">
    <div class="col-sm-12" style="white-space: nowrap">
      <app-bk-chart [chartData]="chartData"></app-bk-chart>
    </div>
  </div>
</div>
