<div [formGroup]="currentFormGroup" *ngIf="currentFormGroup" style="white-space: nowrap">
    <span *ngIf="isRequired()" class="glyphicon glyphicon-asterisk icon-required"></span>
    <mat-form-field class="example-full-width">
      <input #bkInputWidget autocomplete="off" [id]="controlId" 
          [formControlName]="currentFormControlName" [type]="inputType"
          (blur)="onBlurEvent($event)"
        matInput placeholder="Favorite food">
    </mat-form-field>
  <div *ngIf="isInvalid()" class="errorMessage">
    {{getErrorMessage()}}
  </div>
</div>