<div [formGroup]="currentFormGroup" *ngIf="currentFormGroup" style="white-space: nowrap">
  <label class="center-block">{{label}}&nbsp;
    <span *ngIf="isRequired()" class="glyphicon glyphicon-asterisk icon-required"></span>
    <input #bkInputWidget autocomplete="off" [id]="controlId" (blur)="onBlurEvent($event)" [formControlName]="currentFormControlName"
      class="form-control" [type]="inputType" />
  </label>

  <!-- Material support
    <mat-form-field class="example-full-width">
      <input #bkInputWidget autocomplete="off" [id]="controlId" 
          [formControlName]="currentFormControlName" [type]="inputType"
          (blur)="onBlurEvent($event)"
        matInput placeholder="Favorite food">
    </mat-form-field>
  -->
  <div *ngIf="isInvalid()" class="errorMessage">
    {{getErrorMessage()}}
  </div>
</div>